﻿
<link href="~/Content/style.css" rel="stylesheet" />
@{
    if (@ViewBag.CustomerName != "")
    {
        @ViewBag.CustomerName;
    }
}


<div class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="heading-title">Buy Package</h1>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Standard</h3>
                        <span class="subtitle">Lorem ipsum dolor sit amet</span>
                        <div class="price-value">
                            10
                            <span class="currency">$</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Monthly Bandwidth</li>
                        <li>10 Subdomains</li>
                        <li>15 Domains</li>
                    </ul>
                    <a href="#" class="read" data-toggle="modal" data-target="#myModal">Buy<i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Business</h3>
                        <span class="subtitle">Lorem ipsum dolor sit amet</span>
                        <div class="price-value">
                            20
                            <span class="currency">$</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>60GB Disk Space</li>
                        <li>60 Email Accounts</li>
                        <li>60GB Monthly Bandwidth</li>
                        <li>15 Subdomains</li>
                        <li>20 Domains</li>
                    </ul>
                    <a href="#" class="read" data-toggle="modal" data-target="#myModal">Buy<i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Premium</h3>
                        <span class="subtitle">Lorem ipsum dolor sit amet</span>
                        <div class="price-value">
                            30
                            <span class="currency">$</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>70GB Disk Space</li>
                        <li>70 Email Accounts</li>
                        <li>70GB Monthly Bandwidth</li>
                        <li>20 Subdomains</li>
                        <li>25 Domains</li>
                    </ul>
                    <a href="#" class="read" data-toggle="modal" data-target="#myModal">Buy<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Modal</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Payment</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                            <option>ExpDate</option>
                                            <option value="01">10/20</option>
                                            <option value="02">11/20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                            <div class="col-sm-3">
                                <input type="password" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-success">Pay Now</button>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @*<div class="form-inline">
                        <div class="form-group">
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" id="fname">
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" id="lname">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="accnumber">Account Number:</label>
                        <input type="number" class="form-control" id="accnumber">
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="expdate">Expiry Date:</label>
                            <select class="form-control" id="expdate">
                                <option>10/20</option>
                                <option>11/20</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cvv">cvv:</label>
                            <input type="password" class="form-control" id="cvv">
                        </div>
                    </div>*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>